@import "reset.scss";
/** Golable variable **/
$pcMenuWidth: 1218px;
$pcMenuHight: 76px;
$font-zh: "Microsoft YaHei";
/**  **/
.yuex-topLine {
    height: 4px;
    background: url("../images/head/yuex-bgtopLine.jpg") repeat-x;
    overflow: hidden;
}

.yuex-topLine-in {
    height: 4px;
    width: $pcMenuWidth;
    background: url("../images/head/yuex-bgtopLine.jpg") repeat-x;
    margin: 0 auto;
    overflow: hidden;
}

.yuex-header-warp {
    background: url("../images/head/yuex-header-wrap_bg.gif") repeat-x;
}

.yuex-header {
    width: $pcMenuWidth;
    height: $pcMenuHight;
    margin: 0 auto;
    position: relative;
}

.yuex-mainMenu {
    width: 955px;
    float: right;
    position: relative;
    top: 25px;

    table {
        width: 100%;

        td {
            text-align: center;

            a {
                color: #5e4b46;
                font: bold 15px/18px $font-zh;

                &:hover {
                    color: #eb5e13;
                }
            }
        }
    }
}

.mainMenu-divideLine {
    width: 16px;
    height: 50px;
}

.yuex-bottomLine {
    height: 3px;
    background: url("../images/head/yuex-bgbottomLine.jpg") repeat-x;
    overflow: hidden;
}

.yuex-bottomLine-in {
    height: 3px;
    width: $pcMenuWidth;
    background: url("../images/head/yuex-bgbottomLine.jpg") repeat-x;
    margin: 0 auto;
    overflow: hidden;
}

.subMenu-wrap {
    position: absolute;
    background: url("../images/head/yuex-subMenu-bg.jpg") repeat;
    height: 22px;
    top: 0;
    right: 0;
}

.subMenu li {
    text-align: center;
    float: left;
    background: url("../images/head/yuex-subMenu_divideLine.gif") no-repeat 0 8px;
    padding: 2px 9px 0;

    a {
        font: 12px/22px;
        color: #a6a6a6;
    }
}

.subMenu-conrerL,
.subMenu-conrerR {
    width: 17px;
    height: 22px;
    position: absolute;
    top: 0;
}

.subMenu-conrerL {
    background: url("../images/head/yuex-subMenu-conrerL.jpg") no-repeat;
    left: -16px;
}

.subMenu-conrerR {
    background: url("../images/head/yuex-subMenu-conrerR.jpg") no-repeat;
    right: -16px;
}
/* yuex-breadcrumb */
.yuex-breadcrumb-wrap {
    height: 33px;
    background: url("../images/head/yuex-breadcrumb_bg.gif") repeat-x;
}

.yuex-breadcrumb {
    width: $pcMenuWidth;
    margin: 0 auto;
    overflow: hidden;
}

.bread {
    width: 600px;
    font: 12px/33px "\5B8B\4F53";
    float: left;

    a {
        color: #707070;
    }
}

.showToday {
    line-height: 33px;
    float: right;
}
/* yuex-subNav */
/* navbar >= 768px*/
.navbar {
    background: none;
    margin: 0;
    border: 0;
    /* show when mobile <768px */
    .navbar-header {
        min-height: 50px;
        position: relative;
        text-align: center;
        margin: 0;
        /* mobile menu button */
        .navbar-toggle {
            position: absolute;
            left: 5px;
            top: 10px;
            background: url("../images/head/menu-hover.png") no-repeat;
            background-size: 31px 24px;
            border: none;
            width: 31px;
            height: 24px;

            span {
                display: none;
            }
        }
        /* mobile menu button when collapse*/
        .collapsed {
            background: url("../images/head/menu.png") no-repeat;
            background-size: 31px 24px;
        }

        .navbar-brand {
            float: none;

            img {
                width: 120px;
                display: inline;
                //reset bootstrap style
            }
        }
    }

    .yuex-search {
        padding: 5px;

        span {
            padding: 0;

            button {
                width: 40px;
                // height: 25px;
                background: none;
                border: 0;
            }
        }
    }

    .navbar-right {
           li {
               padding-left: 10px;
               a {
                   position: relative;
               }
               span.glyphicon-chevron-down {
                   position: absolute;
                   right: 30px;
                   top: 14px;
                   &:before {
                       color: #adadad;
                       font-size: 11px;
                   }
               }
               // color change & toggle
               &.open {
                   span:before {
                       // cotent show glyphicon-chevron-up
                       content: "\e113";
                       color: #f08601;
                   }
                   a:focus {
                       background: #f8f8f8;
                       color: #f08601 !important;
                   }
               }
           }
       }

    .li-menu-bg {
        a {
            font-size: 16px;
        }
    }
}
//.footer-contents margin set-again-to-avoid-cover

.footer-contents {
    margin: 0 auto;
}
/* <= 767px*/
@media screen and (min-width: $screen-sm-min) {
    .navbar {
        .container {
            height: 100px;
            position: relative;

            .navbar-right {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-right: 0;

                .yuex-search {
                    position: absolute;
                    width: 200px;
                    top: -35px;
                    right: 0;
                }

                .li-menu-bg {
                    padding-left: 15px;

                    a {
                        position: relative;
                        color: #5e4b46;
                        padding: 10px 2px;

                        &:before {
                            content: "/";
                            color: #eaeaea;
                            position: absolute;
                            left: -10px;
                        }
                    }
                }
            }
        }
    }
}
