@charset "UTF-8";
/** 瀹氫箟鍏ㄥ眬鍙橀噺 **/
/* screen size*/
/** start default **/
body {
  color: #333;
  font: 12px/1.5 "Microsoft YaHei"; }

body,
form,
h1,
h2,
h3,
h4,
img,
li,
table,
ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.row {
  margin: 0; }

img {
  border: 0; }

/** Golable variable **/
/**  **/
.yuex-topLine {
  height: 4px;
  background: url("../images/head/yuex-bgtopLine.jpg") repeat-x;
  overflow: hidden; }

.yuex-topLine-in {
  height: 4px;
  width: 1218px;
  background: url("../images/head/yuex-bgtopLine.jpg") repeat-x;
  margin: 0 auto;
  overflow: hidden; }

.yuex-header-warp {
  background: url("../images/head/yuex-header-wrap_bg.gif") repeat-x; }

.yuex-header {
  width: 1218px;
  height: 76px;
  margin: 0 auto;
  position: relative; }

.yuex-mainMenu {
  width: 955px;
  float: right;
  position: relative;
  top: 25px; }
  .yuex-mainMenu table {
    width: 100%; }
    .yuex-mainMenu table td {
      text-align: center; }
      .yuex-mainMenu table td a {
        color: #5e4b46;
        font: bold 15px/18px "Microsoft YaHei"; }
        .yuex-mainMenu table td a:hover {
          color: #eb5e13; }

.mainMenu-divideLine {
  width: 16px;
  height: 50px; }

.yuex-bottomLine {
  height: 3px;
  background: url("../images/head/yuex-bgbottomLine.jpg") repeat-x;
  overflow: hidden; }

.yuex-bottomLine-in {
  height: 3px;
  width: 1218px;
  background: url("../images/head/yuex-bgbottomLine.jpg") repeat-x;
  margin: 0 auto;
  overflow: hidden; }

.subMenu-wrap {
  position: absolute;
  background: url("../images/head/yuex-subMenu-bg.jpg") repeat;
  height: 22px;
  top: 0;
  right: 0; }

.subMenu li {
  text-align: center;
  float: left;
  background: url("../images/head/yuex-subMenu_divideLine.gif") no-repeat 0 8px;
  padding: 2px 9px 0; }
  .subMenu li a {
    font: 12px/22px;
    color: #a6a6a6; }

.subMenu-conrerL,
.subMenu-conrerR {
  width: 17px;
  height: 22px;
  position: absolute;
  top: 0; }

.subMenu-conrerL {
  background: url("../images/head/yuex-subMenu-conrerL.jpg") no-repeat;
  left: -16px; }

.subMenu-conrerR {
  background: url("../images/head/yuex-subMenu-conrerR.jpg") no-repeat;
  right: -16px; }

/* yuex-breadcrumb */
.yuex-breadcrumb-wrap {
  height: 33px;
  background: url("../images/head/yuex-breadcrumb_bg.gif") repeat-x; }

.yuex-breadcrumb {
  width: 1218px;
  margin: 0 auto;
  overflow: hidden; }

.bread {
  width: 600px;
  font: 12px/33px "\5B8B\4F53";
  float: left; }
  .bread a {
    color: #707070; }

.showToday {
  line-height: 33px;
  float: right; }

/* yuex-subNav */
/* navbar >= 768px*/
.navbar {
  background: none; }
  .navbar .yuex-search span {
    padding: 0; }
    .navbar .yuex-search span button {
      width: 40px;
      background: none;
      border: 0; }

@media screen and (min-width: 768px) {
  .navbar .container {
    height: 100px; }
    .navbar .container .navbar-right {
      position: absolute;
      bottom: 0;
      right: 0; }
      .navbar .container .navbar-right .yuex-search {
        position: absolute;
        width: 200px;
        top: -40px;
        right: 0; } }

/*# sourceMappingURL=head.css.map */
