@import "_reset.scss";
/* define gloable variable*/
$pcMenuWidth: 1218px;
/** start default **/
.hr20 {
    height: 20px;
}
/* pc-ready */
.pc-ready {
    background: #f2f2f2 url("../images/pc-ready-bg.jpg") no-repeat top center;
    border-top: 1px solid #d2d2d2;
}

.pic-pane {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.main-content-in,
.yuex-row2 {
    width: $pcMenuWidth;
    margin: 0 auto;
}

.main-content-in {
    // .yuex-1,.yuex-pan3{
    //     padding-left: 0;
    // }
    // .yuex-pan2,.yuex-pan4{
    //     padding-right: 0;
    //     padding-left: 0;
    // }
    // .yuex-pan5{
    //     padding: 0;
    // }
    .yuex-1,
    .yuex-pan2,
    .yuex-pan3,
    .yuex-pan4,
    .yuex-pan5 {
        padding: 0;
    }
}

.issue_suggest-title,
.news-title,
.quick_channel-title,
.research-title,
.scan-title,
.security-title,
.yuex-more-title {
    font: 22px/40px $font-zh;
    color: #eb5e13;
    border-bottom: 1px solid #d9d9d9;
    font-weight: lighter;
    margin-bottom: 10px;

    .more {
        font: 14px/20px Arial;
        color: #414141;
        padding-right: 17px;
        background: url("../images/de_more.gif") no-repeat center right;
        position: absolute;
        top: 10px;
        right: 2px;
    }
}

.group-scan,
.quick_channel,
.yuex-more {
    // padding-left: 15px;
    padding-right: 15px;
}

.group-scan-box-content {
    background: #fff url("../images/group-scan-box-logo_bg.jpg") no-repeat;
    padding: 20px 10px 20px 30px;
    font: 16px/30px $font-zh;
    color: #666666;

    .pull-left {
        margin-right: 22px;
    }
}

.media-body {
    text-indent: 2em;
}

.scan-body2 {
    padding-right: 6px;
    padding-top: 25px;
}

.group-scan-ad {
    background: url("../images/scan-box-ad_bg.jpg") no-repeat;
    padding: 26px 97px 25px;

    .pull-left {
        margin-right: 10px;

        img {
            width: 100%;
        }
    }
}

.group-news,
.issue_suggest,
.research,
.yuex-pan2 {
    padding-left: 15px;
    padding-right: 15px;
}
@keyframes carousel-img {
    0% {
        background: url("../images/temp2_03.jpg");
    }

    50% {
        background: url("../images/temp1_03.jpg");
    }

    100% {
        background: url("../images/temp2_03.jpg");
    }
}
@-webkit-keyframes carousel-img {
    0% {
        background: url("../images/temp2_03.jpg");
    }

    50% {
        background: url("../images/temp1_03.jpg");
    }

    100% {
        background: url("../images/temp2_03.jpg");
    }
}

.group-news-box {
    animation: carousel-img 12s ease infinite;
    -webkit-animation: carousel-img 12s ease infinite;
    // background-size: cover;
    // background-repeat: no-repeat;
    img {
        opacity: 0;
    }
}

.carousel-tabl1 {
    height: 19px;
}

.news-title,
.research-title,
.security-title,
.yuex-more-title {
    position: relative;
}

.research-box {
    ul {
        padding-left: 20px;

        li {
            list-style: disc;
            color: #eb5e13;

            span {
                font: 12px/35px Arial;
                color: #929292;
                float: right;
            }
        }

        a {
            font: 16px/35px $font-zh;
            color: #2f2f2f;
        }
    }
}
/* quick_channel */
.loans {
    a {
        cursor: pointer;
    }

    .row {
        margin-top: 8px;

        .loansL,
        .loansR {
            width: 48%;
            float: left;
        }
    }
}

.loansL {
    margin-right: 4%;
}
/* issue_suggest*/
.group-news-box,
.issue_suggest-box {
    img {
        width: 100%;
    }
}
/* twelvebox */
.yuex-row3 {
    .col-md-6 {
        padding: 0;
    }
}

.yuex-twelvebox {
    .item {
        width: 48%;
        float: left;
        background: #fff;
        margin-top: 10px;

        h3 {
            a {
                font: 20px/40px $font-zh;
                color: #996600;
                margin: 0 15px;
                display: block;
                height: 40px;
            }
        }
    }

    .item:first-child {
        margin-right: 4%;
    }
}

.yuex-twelvebox-left {
    padding-right: 15px;
}
//
// .yuex-twelvebox-right {
//     padding-left: 15px;
// }
//

.yuex-more-right {
    padding-left: 15px;
}

.security,
.yuex-twelvebox {
    overflow: hidden;
    // padding-left: 15px;
    // padding-right: 15px;
}

.itemPic {
    img {
        width: 100%;
    }
}

.twelvebox-info {
    font: 12px/20px $font-zh;
    height: 40px;
    margin: 0 15px 15px;
    color: #594e48;
    overflow: hidden;
}
/* repeat section */
/* footer */
.footer {
    border-top: 1px solid #d9d9d9;
}

.footer-contents {
    width: $pcMenuWidth;
    margin: 0 auto;
    height: 83px;

    .footer-contents-left {
        padding-top: 10px;

        a {
            font: 12px/20px Simsun;
            color: #515151;
        }
    }

    .footer-contents-right {
        padding-top: 10px;
        text-align: right;

        a {
            font: 12px/20px Arial;
            color: #7d7d7d;
        }
    }

}
.group-news,
.issue_suggest,
.research,
.yuex-more-right {
    padding-right: 0;
}

/* 992px -- 1200px */
@media (max-width: $screen-lg-min) and (min-width: $screen-md-min) {
    .group-news,
    .issue_suggest,
    .research,
    .yuex-more-right {
        padding-right: 0;
    }

    .footer-contents,
    .main-content-in,
    .yuex-row2 {
        width: 1000px;
    }

    .group-scan-box-content {
        padding-bottom: 10px;
    }

    .scan-body2 {
        padding-top: 5px;
    }

    .group-scan-ad {
        height: 50px;
    }

    .loans {
        .media {
            a {
                img {
                    height: 44px;
                }
            }
        }
    }
}
/*
* mobile & ipad vetical <= 992px */
@media screen and (max-width:$screen-md-min) {
    .main-content-in,
    .yuex-row2 {
        width: 100%;
        margin: 0 auto;
    }

    .research-title,
    .security-title {
        margin-bottom: 0;
    }

    .footer-contents {
        width: 100%;

        .footer-contents-left,
        .footer-contents-right {
            text-align: center;
        }
    }

    .security,
    .yuex-more {
        padding: 0 15px;
    }
}
/* mobile <= 767px */
@media screen and (max-width:$screen-xs-max) {
    .yuex-twelvebox {
        .item {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .group-news,.issue_suggest{
        padding-right: 15px;
    }
}
