@charset "UTF-8";
/** 瀹氫箟鍏ㄥ眬鍙橀噺 **/
/* screen size*/
/** start default **/
body {
  color: #333;
  font: 12px/1.5 "Microsoft YaHei"; }

body,
form,
h1,
h2,
h3,
h4,
img,
li,
table,
ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.row {
  margin: 0; }

img {
  border: 0; }

/* define gloable variable*/
/** start default **/
.hr20 {
  height: 20px; }

/* pc-ready */
.pc-ready {
  background: #f2f2f2 url("../images/pc-ready-bg.jpg") no-repeat top center;
  border-top: 1px solid #d2d2d2; }

.pic-pane {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

.main-content-in,
.yuex-row2 {
  width: 1218px;
  margin: 0 auto; }

.main-content-in .yuex-1,
.main-content-in .yuex-pan2,
.main-content-in .yuex-pan3,
.main-content-in .yuex-pan4,
.main-content-in .yuex-pan5 {
  padding: 0; }

.issue_suggest-title,
.news-title,
.quick_channel-title,
.research-title,
.scan-title,
.security-title,
.yuex-more-title {
  font: 22px/40px "Microsoft YaHei";
  color: #eb5e13;
  border-bottom: 1px solid #d9d9d9;
  font-weight: lighter;
  margin-bottom: 10px; }
  .issue_suggest-title .more,
  .news-title .more,
  .quick_channel-title .more,
  .research-title .more,
  .scan-title .more,
  .security-title .more,
  .yuex-more-title .more {
    font: 14px/20px Arial;
    color: #414141;
    padding-right: 17px;
    background: url("../images/de_more.gif") no-repeat center right;
    position: absolute;
    top: 10px;
    right: 2px; }

.group-scan,
.quick_channel,
.yuex-more {
  padding-right: 15px; }

.group-scan-box-content {
  background: #fff url("../images/group-scan-box-logo_bg.jpg") no-repeat;
  padding: 20px 10px 20px 30px;
  font: 16px/30px "Microsoft YaHei";
  color: #666666; }
  .group-scan-box-content .pull-left {
    margin-right: 22px; }

.media-body {
  text-indent: 2em; }

.scan-body2 {
  padding-right: 6px;
  padding-top: 25px; }

.group-scan-ad {
  background: url("../images/scan-box-ad_bg.jpg") no-repeat;
  padding: 26px 97px 25px; }
  .group-scan-ad .pull-left {
    margin-right: 10px; }
    .group-scan-ad .pull-left img {
      width: 100%; }

.group-news,
.issue_suggest,
.research,
.yuex-pan2 {
  padding-left: 15px;
  padding-right: 15px; }

@keyframes carousel-img {
  0% {
    background: url("../images/temp2_03.jpg"); }
  50% {
    background: url("../images/temp1_03.jpg"); }
  100% {
    background: url("../images/temp2_03.jpg"); } }
@-webkit-keyframes carousel-img {
  0% {
    background: url("../images/temp2_03.jpg"); }
  50% {
    background: url("../images/temp1_03.jpg"); }
  100% {
    background: url("../images/temp2_03.jpg"); } }
.group-news-box {
  animation: carousel-img 12s ease infinite;
  -webkit-animation: carousel-img 12s ease infinite; }
  .group-news-box img {
    opacity: 0; }

.carousel-tabl1 {
  height: 19px; }

.news-title,
.research-title,
.security-title,
.yuex-more-title {
  position: relative; }

.research-box ul {
  padding-left: 20px; }
  .research-box ul li {
    list-style: disc;
    color: #eb5e13; }
    .research-box ul li span {
      font: 12px/35px Arial;
      color: #929292;
      float: right; }
  .research-box ul a {
    font: 16px/35px "Microsoft YaHei";
    color: #2f2f2f; }

/* quick_channel */
.loans a {
  cursor: pointer; }
.loans .row {
  margin-top: 8px; }
  .loans .row .loansL,
  .loans .row .loansR {
    width: 48%;
    float: left; }

.loansL {
  margin-right: 4%; }

/* issue_suggest*/
.group-news-box img,
.issue_suggest-box img {
  width: 100%; }

/* twelvebox */
.yuex-row3 .col-md-6 {
  padding: 0; }

.yuex-twelvebox .item {
  width: 48%;
  float: left;
  background: #fff;
  margin-top: 10px; }
  .yuex-twelvebox .item h3 a {
    font: 20px/40px "Microsoft YaHei";
    color: #996600;
    margin: 0 15px;
    display: block;
    height: 40px; }
.yuex-twelvebox .item:first-child {
  margin-right: 4%; }

.yuex-twelvebox-left {
  padding-right: 15px; }

.yuex-more-right {
  padding-left: 15px; }

.security,
.yuex-twelvebox {
  overflow: hidden; }

.itemPic img {
  width: 100%; }

.twelvebox-info {
  font: 12px/20px "Microsoft YaHei";
  height: 40px;
  margin: 0 15px 15px;
  color: #594e48;
  overflow: hidden; }

/* repeat section */
/* footer */
.footer {
  border-top: 1px solid #d9d9d9; }

.footer-contents {
  width: 1218px;
  margin: 0 auto;
  height: 83px; }
  .footer-contents .footer-contents-left {
    padding-top: 10px; }
    .footer-contents .footer-contents-left a {
      font: 12px/20px Simsun;
      color: #515151; }
  .footer-contents .footer-contents-right {
    padding-top: 10px;
    text-align: right; }
    .footer-contents .footer-contents-right a {
      font: 12px/20px Arial;
      color: #7d7d7d; }

/* 992px -- 1200px */
@media (max-width: 1200px) and (min-width: 992px) {
  .footer-contents,
  .main-content-in,
  .yuex-row2 {
    width: 1000px; }

  .group-scan-box-content {
    padding-bottom: 10px; }

  .scan-body2 {
    padding-top: 5px; }

  .group-scan-ad {
    height: 50px; }

  .loans .media a img {
    height: 44px; } }
/*
* mobile & ipad vetical <= 992px */
@media screen and (max-width: 992px) {
  .main-content-in,
  .yuex-row2 {
    width: 100%;
    margin: 0 auto; }

  .research-title,
  .security-title {
    margin-bottom: 0; }

  .footer-contents {
    width: 100%; }
    .footer-contents .footer-contents-left,
    .footer-contents .footer-contents-right {
      text-align: center; }

  .security,
  .yuex-more {
    padding: 0 15px; } }
/* mobile <= 767px */
@media screen and (max-width: 767px) {
  .yuex-twelvebox .item {
    width: 100%;
    margin-bottom: 20px; } }

/*# sourceMappingURL=main.css.map */
